<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompiScript+</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>
    <div class="menuBarra">
        <h2><b>CompiScript+</b></h2>
        <ul class="nav nav-underline justify-content-center">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Crear Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Abrir Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Guardar Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ejecutar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
            </li>
        </ul>
    </div>
    <h4 class="entrada-title"><b>Entrada</b></h4>
    <div class="entrada">
        <div class="line-number"></div>
        <textarea rows="5" cols="50"></textarea> <!-- Modifica rows y cols según lo necesites -->
        
    </div>
    <h4 class="salida-title"><b>Consola</b></h4>
    <div class="salida">
        <div class="line-number"></div>
        <textarea rows="5" cols="50"></textarea> <!-- Modifica rows y cols según lo necesites -->
        
    </div>
    
</body>
</html>
